* {
    box-sizing: border-box;
    font-family: sans-serif;
    
}

body {
    background-color: rgb(240, 246, 247) ;
}


.main {
    margin: 110px 460px 110px 460px;
    /* padding: 20px; */
    border-radius: 15px ;
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 2px 2px rgba(190, 187, 187, 0.2);
    color: #606770;
}

.header {
    border-bottom: solid 1px #bfc1c2;
    margin-bottom: 15px;
    padding-top: 20px;
    width: 100%;
}

#h1 {
    color: black;
    font-size: 27px;
}

#h2 {
    font-size: medium;
    
}

.center {
  padding: 20px;
}

.center div {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    text-align: left;

}


input[type="text"] {
   display: inline-block;
   border: 1px solid #bfc1c2;
   border-radius: 5px; 
   padding: 10px;
   margin-right: 10px;
   width: 100%;
   font-size: 15px;
   color:#7f8385;
}

.til2 {
    font-size: 13px;
    color: #313131;
}

.item1 input {
    flex: 1;
}

.item2 select {
    height: 35px;
    flex : 1;
    margin-right: 10px;
    background-color: white;
    border: 1px solid #bfc1c2;
    border-radius: 5px; 
    
}


.radio-item { 
    display: flex;
    height: 35px;
    border: 1px solid #bfc1c2;
    border-radius: 5px; 
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 5px;
    margin-right: 10px;
    font-size: 15px;
}

#woman {
   flex: 5;
}

#man {
   flex: 5;
}

#other {
   flex: 7;
}

.center .note {
    font-size: 11px;
    text-align: left;
}

.center a {
    text-decoration: none;
}

#dk {
    font-size: large;
    
    background-color: #00a400;
    border: 1px solid ;
    border-radius: 10px; 
    color: white;
    height: 40px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}



#note2 {
    display: block;
    color: #1877f2;
    text-align: center;
    padding-bottom: 20px;
}

.custom-button {
    padding: 30px 50px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #0056b3;
}

.custom-button:active {
    background-color: #004080;
}

